<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" href="../static/styles.css">
</head>
<body >
	<header>
		<p>SENTIMENT BUILDER</p>
	</header>
	<div class="wrapper fadeInDown">
		<div id="formContent">
	  
		  <!-- Login Form -->
		  <form action="{{ url_for('predict')}}" method="POST"> 
			<label name="textlabel">Enter your text:</label><br>
			<textarea name="message" class="fadeIn second" placeholder="Enter your text here!!" cols="50" rows="6" required></textarea>
			<input type="Submit" value="predict">
			</form>
			<div class="results">
				{% if prediction == 'neu'%}
				<h2>SENTIMENT :Neutral statement</h2>
				{% elif prediction == 'neg'%}
				<h2>SENTIMENT : Negative statement</h2>
				{% elif prediction == 'pos'%}
				<h2>SENTIMENT :Positive statement</h2>
				{% endif %}
			</div>
		</div>
	  </div>
</body>
</html>
